<h2>Edit Your Character Here:</h2>

<form action="/characters/<%= @character.id%>" method="post">
  <input type="hidden" name="_method" value="patch">

<label>Character Name:</label>
<input type="text" id="name" name="character[name]" value="<%=@character.name%>">
<br>

<label>Age:</label>
<input type="text" id=age name="character[age]" value="<%=@character.age%>">
<br>


<label>Class:</label>
<br>
<%@classes.each do |class_name|%>
<label for="<%class_name%>"><%=class_name%></label>
<input type="checkbox" id="class_name" name="character[class_name]" value= "<%=class_name%>">
<%end%>
<br>

<label>Race:</label>
<br>
<%@races.each do |race|%>
<label for="<%race%>"><%=race%></label>
<input type="checkbox" id="race" name="character[race]" value= "<%=race%>">
<%end%>
<br><br>

<label>Special Abilities:</label>
<input type="text" id="race" name="character[special_abilities]" value="<%=@character.special_abilities%>">
<br><br>

<label>Description:</label>
<textarea id="description" name=character[description] value="<%=@character.description%>">
</textarea><br>
  <input type="submit" value="Update Character">

  </form>