<h1>One Specific Character:</h1>

<h2>Character Name: <%=@character.name%></h2>
<br>
<h4>Age: <%=@character.age%></h4>
<br>
<h4>Race: <%=@character.race%></h4>
<br>
<h4>Class: <%=@character.class_name%></h4>
<br>
<h4>Special Abilities: <%=@character.special_abilities%></h4>
<br>

<p>
<h4>Description:</h4>
<%=@character.description%>
</p>


<br>

<form  action="/characters/<%=@character.id%>" method='post'>
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" value="Delete This Character" />
<br>
<br>
<br>
<br>
<a class="button" href="/characters/<%=@character.id%>/edit">Edit This Character</a>
<br>
<br>

<a class="button" href="/characters/new">Create New Character</a>
<br>
<br>
<a class="button" href="/characters">View All Characters</a>
<br>
<br>
<a class="button" href="/">Home</a>