<h2>One Specific Character:</h2>

<h3>Character Name: <%=@character.name%></h3>
<br>
<h4>Character Age: <%=@character.age%></h4>
<br>
<h4>Character Race: <%=@character.race%></h4>
<br>
<h4>Character Class: <%=@character.class_name%></h4>
<br>
<h4>Special Abilities: <%=@character.special_abilities%></h4>
<br>

<p>
<h4>Description:</h4>
<%=@character.description%>
</p>

<h2>
<br>
<br>
<br>
<a class="button" href="/characters/<%=@character.id%>/edit">Edit This Character</a>
<br>
<br>
<a class="button" href="/characters/new">Create New Character</a>
<br>
<br>
<a class="button" href="/characters">View All Characters</a>
<br>
<br>
<a class="button" href="/">Home</a>