<h1>One Specific Character:</h1>

<h2>Character Name: <b><%=@character.name%></b></h2>
<br>
<h4>Age: <%=@character.age%></h4>
<br>
<h4>Race: <%=@character.race%></h4>
<br>
<h4>Class: <%=@character.class_name%></h4>
<br>
<h4>Special Abilities: <%=@character.special_abilities%></h4>
<br>

<p>
<h4>Description:</h4>
<%=@character.description%>
</p>


<br>

<div class="center">
<form  action="/characters/<%=@character.id%>" method='post'>
  <input type="hidden" name="_method" value="delete" />
  <input type="submit" button type="button" class="btn btn-outline-danger" value="Delete This Character" />
  </form>
  <br>

<a button type="button" class="btn btn-outline-warning" href="/characters/<%=@character.id%>/edit">Edit This Character</button></a>

<a button type="button" class="btn btn-outline-info" href="/characters/new">Create New Character</a>

<a button type="button" class="btn btn-outline-success" href="/characters">View All Characters</a>

<a button type="button" class="btn btn-outline-dark" href="/">Home</a>
</div>